{% block file_widget %}
    <div
            data-action="{{ oneup_uploader_endpoint('gallery') }}"
            data-embryo
            data-type="file-uploader"
            id="{{ form.vars.id }}"

            {% if attr is iterable %}
                {% if attr.accept is defined %}
                    data-accept="{{ attr.accept }}"
                {% endif %}
                {% if attr.height is defined %}
                    data-height="{{ attr.height }}"
                {% endif %}
                {% if attr.maxSize is defined %}
                    data-maxsize="{{ attr.maxSize }}"
                {% endif %}
                {% if attr.multiple is defined %}
                    data-multiple="multiple"
                {% endif %}
                {% if attr.width is defined %}
                    data-width="{{ attr.width }}"
                {% endif %}
            {% endif %}

            {% if form.vars.disabled %}
                data-disabled="disabled"
            {% endif %}
            {% if form.vars.required %}
                data-required="required"
            {% endif %}
    >
        <input
                {% if form.vars.disabled %}
                    disabled="disabled"
                {% endif %}
                name="{{ form.vars.full_name }}"
                type="file"
                {% if form.vars.required %}
                    required="required"
                {% endif %}
                style="display:none;"
        />
    </div>
{% endblock %}
